arviz==0.11.0
dash
dash_bootstrap_components
dash_daq
dash_trich_components
jupyterlab<3
jupyter-dash
jupyter_server_proxy
lmfit
matplotlib
mkl
molmass
multiprocess
numba
numericalunits
numpy
pandas
paramiko
plotly
pymc3
scipy
seaborn
theano-pymc
tqdm
uncertainties