arviz==0.11.0
dash<2
dash_bootstrap_components<1
dash_daq
dash_trich_components
jupyter-dash
jupyter_server_proxy
lmfit
matplotlib
mkl
molmass
multiprocess
numba
numericalunits
numpy
pandas
paramiko
plotly
pymc3
scipy
seaborn
theano-pymc
tqdm
uncertainties

requests
flask
retrying
